@import 'config';

body {
  font: 100% "Space Mono", monospace;
  color: $dark-blue;
  margin: 0px;
  @include padding(0);
  background-color: $black;
  background-image: $radial;
  background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
  background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
  background-attachment: fixed;
}

article {
  display: flex;
  flex-wrap: wrap;

    section {
      flex-grow: 1;
      flex-basis: 45%;
      @include border(silver);
      @include shadow;
      @include padding(1);
      margin: 16px;
      clear: both;
      overflow: auto;
      box-sizing: border-box;

      &#selling-points {
        flex-grow: 2;
        flex-basis: 100%
      }
    }

    code {
      background: $black;
      @include border(#ddd);
      color: #666;
      page-break-inside: avoid;
      font-family: monospace;
      font-size: 15px;
      line-height: 1.6;
      margin-bottom: 1.6em;
      max-width: 100%;
      overflow: auto;
      padding: 1em 1.5em;
      display: block;
      word-wrap: break-word;

      .before {
        @include code-float(left);
      }

      .after {
        @include code-float(right);
      }
    }

}

h1, h2, h6 {
  @include header;
}

h6 {
  font-size: 2em;
  @include padding(2);
  margin-bottom: 0px
}

.message,
.success,
.error,
.warning {
  @extend %announcement;
}

.message {
  background-color: black;
}

.success {
  background-color: green
}

.error {
  background-color: red
}

.warning {
  background-color: orange
}

